/*div {
    width: 100px;
    height: 100px;
    background-color: red;
    -webkit-animation-name: progress-load; 
    -webkit-animation-duration: 4s; 
    animation-name: progress-load;
    animation-duration: 4s;
}
*/
/* Safari 4.0 - 8.0 */
/*@-webkit-keyframes progress-load {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}*/
}

/* Standard syntax */
/*@keyframes progress-load {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
*/





.load:hover{
    
}


.load10:hover{
animation: load10 1s ;
}

.load20:hover{
animation: load20 1s ;
}

.load30:hover{
animation: load30 1s ;
}

.load40:hover{
animation: load40 1s ;
}

.load50:hover{
animation: load50 1s ;
}

.load60:hover{
animation: load60 1s ;
}

.load70:hover{
animation: load70 1s ;
}

.load80:hover{
animation: load80 1s ;
}

.load90:hover{
animation: load90 1s ;
}

.load100:hover{
animation: load100 1s ;
}


@keyframes load10 {
    from {width:0%;}
    to {width: 10%;}
}

@keyframes load20 {
    from {width:0%;}
    to {width: 20%;}
}

@keyframes load30 {
    from {width:0%;}
    to {width: 30%;}
}

@keyframes load40 {
    from {width:0%;}
    to {width: 40%;}
}

@keyframes load50 {
    from {width:0%;}
    to {width: 50%;}
}

@keyframes load60 {
    from {width:0%;}
    to {width: 60%;}
}

@keyframes load70 {
    from {width:0%;}
    to {width: 70%;}
}

@keyframes load80 {
    from {width:0%;}
    to {width: 80%;}
}

@keyframes load90 {
    from {width:0%;}
    to {width: 90%;}
}

@keyframes load100 {
    from {width:0%;}
    to {width: 100%;}
}