* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*font-family: 'Raleway', sans-serif;*/
	font-family: "Montserrat", sans-serif;

}

html{
	scroll-behavior: smooth
}

body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.w3-row-padding img {margin-bottom: 12px}
.bgimg {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url('');
	min-height: 100%;
	background-color: #f2f2f2;

}

/*#main-sidebar{
background-color: #141414;
color: #f2f2f2;
}*/

#nav-top {
	background-color: #141414;
	/*background-image: linear-gradient(to right, rgba(20,20,20,0), rgba(20,20,20,1))*/
	font-size: 3vh;
	opacity: 0;
	color: #141414;
	transition: 1s;
}


#nav-top:link,
#nav-top:active {

}

#nav-top:focus,
#nav-top:hover {
	opacity: 1;
	transition: 1s;
}


#contact-info {
	color: #AEB7B3;
}


#footer {
	background-color: #141414;
	height: 50px;
}


#portfolio-landing {
	/*color: #f2f2f2;*/
	font-size: 5vw;
	padding-top: 20vh;
	letter-spacing: 5px;
}

#portfolio-sub {
	color: #AEB7B3; 
	font-size: 2vw;
	padding-top: 20vh;
	letter-spacing: 5px;

}

.filler {
	min-height: 300px;
}

#gototop-btn {
	display: none;
	opacity: 0.3;
	color:#0C5176;	
	transition: 1.5s;
}

#gototop-btn:hover{
	color: #0C5176;
	opacity: 1;
	transition: 0.3s;
}

.banner {
	min-height: 180px;
}

/*.project-img:hover, 
.project-img:focus {
transform: scale(1.1);
transition: 0.3s;
}*/


/*.progress-bar {
background-color: red;
color: red;
}*/

/*div:hover{
animation: mymove 1s ;
}

/* Safari 4.0 - 8.0 */

/*Standard syntax */
/*@keyframes mymove {
    from {width:0px;}
    to {width: 200px;}
    }*/

    .progress-row {
    	padding: 50px;
    }


    /*FRONT END */
    /*Blue*/

    #html-bar {
    	width:90%;
    	/*background-color: #23445F;*/
    	background-color: #0C5176;
    }

    #php-bar {
    	width:80%;
    	/*background-color: #23445F;*/
    	background-color: #0C5176;
    }

    #css-bar {
    	width:80%;
    	/*background-color: #23445F;*/
    	background-color: #0C5176;
    }

    #bs-bar {
    	width:80%;
    	/*background-color: #23445F;*/
    	background-color: #0C5176;
    }
    /*BACK END*/
    /*Gray*/

    #js-bar {
    	width:60%;
    	/*background-color: #23445F;*/
    	background-color:#243444;
    }

    #jquery-bar {
    	width:40%;
    	/*background-color: #23445F;*/
    	background-color:#243444;
    }

    #mysql-bar {
    	width:50%;
    	/*background-color: #23445F;*/
    	background-color:#243444;
    }

    /*OTHER CODING LINGO*/

    #python-bar {
    	width:20%;
    	/*background-color: #23445F;*/
    	background-color:#348A81;
    }

    #c-bar {
    	width:20%;
    	/*background-color: #23445F;*/
    	background-color:#348A81;
    }

    /*ADDITIONAL SKILLS*/

    #ps-bar {
    	width:60%;
    	/*background-color: #23445F;*/
    	background-color:#6C6E8A;
    }




    /* Section: Contact */
    #contact{
    	background-color: #141414;
    	min-height: 350px;
    	max-height: 400px;
    	width: 100%;
    }



    .contact-row {
    	color: #AEB7B3;
    	padding: 20px;
    }

    #mail-link:link,
    #mail-link:visited,
    #mail-link:active {
    	color: #AEB7B3;
    }


    #facebook-icon:link, 
    #ig-icon:link,
    #twitter-icon:link,
    #linkedin-icon:link,
    #github-icon:link,
    #gitlab-icon:link,
    #facebook-icon:visited, 
    #ig-icon:visited,
    #twitter-icon:visited,
    #linkedin-icon:visited,
    #github-icon:visited,
    #gitlab-icon:visited {
    	color: #AEB7B3;
    	transition: 0.7s;

    }


    #facebook-icon:hover,
    #facebook-icon:active {
    	color: #3B5998;
    	font-size: 1.5em;
    	text-decoration: none;
    	/*transform: scale(3);*/
    	transition:0.3s;
    }

    #ig-icon:hover,
    #ig-icon:active {
    	color: #833AB4;
    	font-size: 1.5em;
    	text-decoration: none;
    	/*transform: scale(3);*/
    	transition:0.3s;
    }

    #twitter-icon:hover,
    #twitter-icon:active {
    	color: #1DA1F2;
    	font-size: 1.5em;
    	text-decoration: none;
    	/*transform: scale(3);*/
    	transition:0.3s;
    }

    #linkedin-icon:hover,
    #linkedin-icon:active {
    	color: #0077B5;
    	font-size: 1.5em;
    	text-decoration: none;
    	/*transform: scale(3);*/
    	transition:0.3s;
    }

    #github-icon:hover,
    #github-icon:active {
    	color: #6e5494;
    	font-size: 1.5em;
    	text-decoration: none;
    	/*transform: scale(3);*/
    	transition:0.3s;
    }

    #gitlab-icon:hover,
    #gitlab-icon:active {
    	color: #fc6d26;
    	font-size: 1.5em;
    	text-decoration: none;
    	/*transform: scale(3);*/
    	transition:0.3s;
    }







    #mail-link:link,
    #mail-link:visited,
    #mail-link:active {
    	color: #AEB7B3;
    	text-decoration: none;
    }

    #mail-link:hover {
    	color: #0474A4;
    	text-decoration: none;
    }

    h4 {
    	color:#f2f2f2;
    }

    .border-line{
    	background-color: #0474A4;	
    }


    #address {
    	color: #AEB7B3;
    }



    /* Footer */

    #footer-txt:link,
    #footer-txt:visited {
    	color: #141414;
    }


    #footer-txt:active,
    #footer-txt:hover {
    	color: #f2f2f2;
    	text-decoration: none;
    }

    .footer {
    	height: 60px;
    	background-color: #0474A4;
    	padding-top: 20px;
    	text-align: center;
    	letter-spacing: 5px;
    }










    /* Effect: border switch */
    nav div ul li a {
    	position: relative;
    	display: inline-block;
    	margin: 15px 25px;
    	outline: none;
    	color: #f2f2f2;
    	text-decoration: none;
    	text-transform: uppercase;
    	letter-spacing: 1px;
    	font-weight: 400;
    	text-shadow: 0 0 1px rgba(255,255,255,0.3);
    	font-size: 1em;
    }

    nav div ul li a:hover,
    nav div ul li a:focus {
    	outline: none;
    	transform: scale(1.1);
    	transition: 0.5s;
    	color: #0474A4;
    }







    .cl-effect a {
    	padding: 0 20px;
    	height: 45px;
    	line-height: 45px;
    }

    .cl-effect a::before,
    .cl-effect a::after {
    	position: absolute;
    	width: 45px;
    	height: 2px;
    	background: #fff;
    	content: '';
    	opacity: 0.2;
    	-webkit-transition: all 0.3s;
    	-moz-transition: all 0.3s;
    	transition: all 0.3s;
    	pointer-events: none;
    }

    .cl-effect a::before {
    	top: 0;
    	left: 0;
    	-webkit-transform: rotate(90deg);
    	-moz-transform: rotate(90deg);
    	transform: rotate(90deg);
    	-webkit-transform-origin: 0 0;
    	-moz-transform-origin: 0 0;
    	transform-origin: 0 0;
    }

    .cl-effect a::after {
    	right: 0;
    	bottom: 0;
    	-webkit-transform: rotate(90deg);
    	-moz-transform: rotate(90deg);
    	transform: rotate(90deg);
    	-webkit-transform-origin: 100% 0;
    	-moz-transform-origin: 100% 0;
    	transform-origin: 100% 0;
    }

    .cl-effect a:hover::before,
    .cl-effect a:hover::after,
    .cl-effect a:focus::before,
    .cl-effect a:focus::after {
    	opacity: 1;
    }

    .cl-effect a:hover::before,
    .cl-effect a:focus::before {
    	left: 50%;
    	-webkit-transform: rotate(0deg) translateX(-50%);
    	-moz-transform: rotate(0deg) translateX(-50%);
    	transform: rotate(0deg) translateX(-50%);
    }

    .cl-effect a:hover::after,
    .cl-effect a:focus::after {
    	right: 50%;
    	-webkit-transform: rotate(0deg) translateX(50%);
    	-moz-transform: rotate(0deg) translateX(50%);
    	transform: rotate(0deg) translateX(50%);
    }



    .item {
    	position: relative;

    	/*border: 1px solid #333;*/
    	margin: 2%;
    	overflow: hidden;
    	/*width: 540px;*/
    }
    .item img {
    	max-width: 100%;

    	-moz-transition: all 0.3s;
    	-webkit-transition: all 0.3s;
    	transition: all 0.3s;
    }
    .item:hover img {
    	-moz-transform: scale(1.1);
    	-webkit-transform: scale(1.1);
    	transform: scale(1.1);
    }



    /*Gradient*/

/*	.gradient {
		background-color: linear-gradient(to right, rgba(20,20,20,0), rgba(20,20,20,1));
	}*/